* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  background: #fff;
}

body {
  margin: 0;
}

span {
  font-weight: bold ;
  margin-left: 5px;
}

.selectedLi {
  background-color: rgb(200, 196, 196);
  font-weight: bold;
}

.pad-left-15 {
  padding-left: 15px !important;
}

.pad-left-20 {
  padding-left: 20px !important;
}

.line-15 {
  line-height: 15px;
}